<div class="main">
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<div class="icon"></div>
			<div class="title main">
				<span id="main-title">Tweaks</span>
				<span class="version" id="version">v0.0.0</span>
			</div>
			<div class="title sub" id="subTitle">Tweak the Hell Out of WebOS</div>
		</div>
	</div>

	<div id="wait-spinner" x-mojo-element="Spinner"></div>
	
	<div class="palm-list">
		<div id="CategoriesList" x-mojo-element="List"></div>
	</div>
</div>


