<div class="palm-page-header">
	<div class="header-icon tweaks"></div>
	<div class="header-text">
		<span x-mojo-loc=''>Help</span>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Info</div>

	<div class="palm-list">
		<div class="palm-text-wrapper">
			<div style="float: right;" id="appver"></div>
			<div  id="appname"></div>
			<div class="palm-body-text" id="appinfo">by WebOS Internals</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Usage</div>

	<div class="palm-list">
		<div class='palm-row first' x-Mojo-tap-highlight="momentary">
			<div class='palm-row-wrapper'>
				<div class="label right">WWW</div>
				<div class="title truncating-text" id="WikiLink">Wiki</div>
			</div>
		</div>
		<div class='palm-row last' x-Mojo-tap-highlight="momentary">
			<div class='palm-row-wrapper'>
				<div class="label right">PDF</div>
				<div class="title truncating-text" id="ManualLink">Manual</div>
	 		</div>
	 	</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Support</div>

	<div class="palm-list">
		<div class='palm-row first x-Mojo-tap-highlight="momentary"'>
			<div class='palm-row-wrapper'>
				<div class="label right">WWW</div>
				<div class="title truncating-text" id="ForumLink">Forum</div>
	 		</div>
	 	</div>
		<div class='palm-row last' x-Mojo-tap-highlight="momentary">
			<div class='palm-row-wrapper'>
				<div class="label right">EMAIL</div>
				<div class="title truncating-text" id="EmailLink">E-mail</div>
	 		</div>
	 	</div>
	</div>
</div>

