<div id="main">
 <div class="palm-page-header">
    <div class="header-icon"></div>
    <div class="header-text">
		  <span x-mojo-loc=''>Preferences</span>
    </div>
  </div>
  
	<div class="palm-group">
		<div class="palm-group-title">Functionality</div>

		<div class="palm-list">
			<div class='palm-row single'>
				<div class='palm-row-wrapper'>
					<div id="AdvancedSettingsButton" x-mojo-element="ToggleButton"></div>
					<div class="title left">Advanced Features</div>
				</div>
			</div>
		</div>
	</div>

	<div class="palm-info-text single" x-mojo-loc=''>
		Advanced system prefs patches need to be installed for advanced features to work!
	</div>

	<div class="palm-group">
		<div class="palm-group-title">User Interface</div>

		<div class="palm-list">
			<div class='palm-row first'>
				<div class='palm-row-wrapper'>
					<div id="AdvancedViewButton" x-mojo-element="ToggleButton"></div>
					<div class="title left">Advanced View</div>     
				</div>
			</div>
			<div class='palm-row'>
				<div class='palm-row-wrapper'>
					<div id="HelpShortcutsButton" x-mojo-element="ToggleButton"></div>
					<div class="title left">Help Shortcuts</div>     
				</div>
			</div>
			<div class='palm-row last'>
				<div class='palm-row-wrapper'>
					<div id="InfoBannerButton" x-mojo-element="ToggleButton"></div>
					<div class="title left">Notifications</div>     
				</div>
			</div>
		</div>
	</div>

	<div class="palm-info-text single" x-mojo-loc=''>
		Disabling notifications will override mode settings and disables banner completely.
	</div>
</div>
