.scene-fade-top
{
	position: fixed; 
	top: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/scrollFade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
.scene-fade-bottom
{
	position: fixed; 
	bottom: 0; 
	z-index: 11000;
	height: 30px; 
	width: 100%;
	background: url(../images/scrollFade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}

.startup #data .palm-divider.labeled .label
{
	text-transform: lowercase;
}
.startup #data
{
	font-size: 16px;
}

.startup #data .text
{
	padding-top: 4px;
	padding-left: 18px;
	padding-right: 15px;
	padding-bottom: 10px;
}

.startup #data ul
{
	margin: 0px;
	padding-left: 18px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.startup #data ul.changelog
{
	font-size: 15px;
	margin: 0px;
	padding-left: 35px;
	padding-right: 25px;
	padding-bottom: 10px;
}

.main .palm-page-header-wrapper .icon
{
	width: 76px;
	height: 75px;
	background: url(../icon.png) center center no-repeat;
}

.main .palm-page-header-wrapper .title
{
	padding-left: 80px;
}

.main .palm-page-header-wrapper .title .version
{
	font-size: 12px;
	color: #888;
	text-transform: lowercase;
}

.main .palm-page-header-wrapper .title.sub
{
	font-size: 14px;
	padding-top: 0px;
	margin-top: 0px;
}

.main .palm-page-header-wrapper .title.main
{
	font-size: 28px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.palm-row-wrapper > .palm-slider {
  padding-top: 5px;
  height: 36px;
}

.category {
	padding: 5px 8px 5px 8px;
}

.category center {
	color: #3c3c3c;
	font-weight: bold;
	padding: 5px 3px 8px 3px;
	background: #afafa8;
}

.header-input {     
   width: 100%;
}
                                                                                                               
.header-input input {
   font-weight: bold;
   height: 46px;
   outline: none;
   background: none;
   border-width: 0 0 0 0;
   font-size: 16px;
   line-height: 22px;
   color: white;
   margin: 0 16px 0 0px;
   padding: 0;
   text-align: left;
}

.header-input .hint-text {
   font-weight: bold;
   color: white;
}

.tweaks .help-toggle
{
	position: absolute;
	right: 11px;
	top: 11px;
	width: 32px;
	height: 32px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url(../images/help-toggle.png);
}

.tweaks .help-toggle.selected
{
	background-position: 0px -32px;
}

.tweaks .palm-row .palm-row-wrapper .help-overlay
{
	display: none;
	position: absolute;
	z-index: 10000;
 width: auto;
  height: auto;
  border: 20px;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 4px;
	-webkit-border-image: url(../images/helprow.png) 20 20 20 20 stretch stretch;
}

.tweaks .palm-row .palm-row-wrapper.textfield-group .help-overlay
{
	top: -15px;
	left: -15px;
}

.tweaks.help .palm-row .palm-row-wrapper .help-overlay
{
	display: block;
}

.tweaks .palm-row .first .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/helprow-first.png) 20 20 20 20 stretch stretch;
}

.tweaks .palm-row .single .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/helprow-single.png) 20 20 20 20 stretch stretch;
}

.tweaks .palm-row .last .palm-row-wrapper .help-overlay
{
	-webkit-border-image: url(../images/helprow-last.png) 20 20 20 20 stretch stretch;
}

.main .palm-list .palm-row
{
	clear: none;
	float: left;
	width: 50%;
	background: url(../images/list-separator-light-grid.png) bottom right no-repeat;
	margin-bottom: -1px;
}

.main .palm-list .palm-row.selected
{
	background: none;
}

.main .palm-list .palm-row .disabled .label
{
	display: none;
}

.main .palm-list .palm-row .disabled .title
{
	color: rgba(0, 0, 0, 0.5);
}

.tweaks .palm-list .palm-row
{
	position: relative;
}

.tweaks .label.left.mv-picker-label {
	margin-top: 0px;
	padding-top: 18px;
	margin-bottom: -8px;
	float: none;
}

.tweaks .mv-picker-capsule {
	position: absolute;
	right: -1px;
	top: -2px;
}

.textfield-group {
  border-width: 15px;
 -webkit-opacity: 0.5;
  -webkit-border-image: url(../images/textfield-shadow.png) 15 15 15 15 stretch stretch;
}

.textfield-group.focused {
 -webkit-opacity: 1.0;
}

#wait-spinner {
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-70px;
	margin-left:-70px;
}

