[D-BUS Service]
Name=org.webosinternals.tweaks.prefs
Exec=/usr/bin/run-js-service -n /media/cryptofs/apps/usr/palm/services/org.webosinternals.tweaks.prefs
